@model Schedule.Data.Models.Teacher

@{
    ViewData["Title"] = "Edit Teacher";
}

<h1>Edit Teacher</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Name" class="control-label">ФИО</label>
        <input name="Name" asp-for="Name" class="form-control" value="@Model.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Эл.Почта</label>
        <input name="Email" asp-for="Email" class="form-control" value="@Model.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Specialization" class="control-label">Дисциплина</label>
        <input name="Specialization" asp-for="Specialization" class="form-control" value="@Model.Specialization"/>
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="photo">Фото</label>
        <input type="file" name="photo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>

<a href="@Url.Action("Index")">Back to List</a>
